.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.headTitle {
  font-size: 22px;
  font-weight: bold;
}
.closeButton{
  border-width: 0;
  background-color: transparent;
}
